<div class="container">
  <div class="row">
    <form class="col-6" id="login-form">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" id="loginButton" class="btn btn-primary">Log in</button>
    </form>
    <form class="col-6" id="signup-form">
      <div class="mb-3">
        <label for="SUusername" class="form-label">Username</label>
        <input type="text" class="form-control" id="SUusername" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="SUpassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="SUpassword">
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</div>