<div class="container">
    <div class="row justify-content-center align-items-center g-2 mt-2">
        <div class="col-12 border border-dark border-2 rounded-top bg-dark text-light container"><span class="postTitle col-6">Sample post</span><span class="postInfo text-end col-6">Posted by "person" at "date"</span></div>
        <div class="col-12 border border-dark border-2 m-0 h-100">
            <span class="text-center w-100">This is some sample text for the blog post</span>
        </div>
    </div>
</div>